### Data Type

A data type is a value in Python

In [1]:
fundamental_data_type = [int,float,bool,str,list,tuple,set,dict]

for i in fundamental_data_type:
    print(i, end=' ')

<class 'int'> <class 'float'> <class 'bool'> <class 'str'> <class 'list'> <class 'tuple'> <class 'set'> <class 'dict'>

#### Numbers
There are three data types for numbers: **Integer**, **Float**, and **Complex**

In [2]:
math_int = [[(2+4),'(2+4)'],[(2-4), '(2-4)'],[(2*4), '(2*4)'],
            [(2/4),'(2/4)'],[(20+1.1),'(20+1.1)'],[(9.9+1.1),'(9.9+1.1)'],
            [(2**2),'(2**2)'],[(5//4),'(5//4)'],[(5%4),'(5%4)']]

for x, y in math_int:
    print(f'the operation is {y} and the result is {x}, which is a data type: {type(x)}.')

the operation is (2+4) and the result is 6, which is a data type: <class 'int'>.
the operation is (2-4) and the result is -2, which is a data type: <class 'int'>.
the operation is (2*4) and the result is 8, which is a data type: <class 'int'>.
the operation is (2/4) and the result is 0.5, which is a data type: <class 'float'>.
the operation is (20+1.1) and the result is 21.1, which is a data type: <class 'float'>.
the operation is (9.9+1.1) and the result is 11.0, which is a data type: <class 'float'>.
the operation is (2**2) and the result is 4, which is a data type: <class 'int'>.
the operation is (5//4) and the result is 1, which is a data type: <class 'int'>.
the operation is (5%4) and the result is 1, which is a data type: <class 'int'>.

There are built-in math functions that can be used in Python

[build-in functions](https://docs.python.org/3/library/functions.html)

In [3]:
rounding = print(round(3.9))
rounding

absolute = print(abs(-20))
absolute

4
20

Python also respects the operator precedence
- parentheis **'()'**
- power **'**'**
- multiplication **'*** and division **'/'**
- addition **'+'** and substraction **'-'**

In [4]:
ex = [(20 - 3) + 2 ** 2, 
      (5 + 4) * 10 / 2, 
      ((5 + 4) * 10) / 2, 
      (5 + 4) * (10 / 2),
      5 + (4 * 10) / 2,
      5 + 4 * 10 // 2]

for x in ex:
    print(x)

21
45.0
45.0
45.0
25.0
25

Binary

In [5]:
for x in range (0,10):
    print(f'natural number is {x} and binary is: {bin(x)}.')

natural number is 0 and binary is: 0b0.
natural number is 1 and binary is: 0b1.
natural number is 2 and binary is: 0b10.
natural number is 3 and binary is: 0b11.
natural number is 4 and binary is: 0b100.
natural number is 5 and binary is: 0b101.
natural number is 6 and binary is: 0b110.
natural number is 7 and binary is: 0b111.
natural number is 8 and binary is: 0b1000.
natural number is 9 and binary is: 0b1001.

In [6]:
print(int('0b101', 2))

5

#### Variables

df: *ways to store information that can be used in the program.*

Best practices:
1. *snake_case*
2. *start with lowercase or underscore*
3. *letters, numbers, underscores*
4. *case sensitive*
5. *don't overwrite keywords*

[python keywords](https://www.w3schools.com/python/python_ref_keywords.asp)

In [7]:
iq = 110
user_iq = 120
_user_iq = 130
_us3r_4q = 140

print(iq, user_iq, _user_iq, _us3r_4q)

110 120 130 140

Variables are unique, but they can be reassigned

In [8]:
iq = 'now it\'s a string'
print(iq, user_iq, _user_iq, _us3r_4q)

now it's a string 120 130 140

We can assigned a multiple variables in one line

In [9]:
a, b, c = 1, 2, 3
print(f'value of a: {a}, value of b: {b}, and value of c: {c}.')

value of a: 1, value of b: 2, and value of c: 3.

Expression vs Statement

Expression is what produces a value (operation), whereas a statement is the entire line of code that performs a sort of action.

Augmented assignment operator

In [10]:
some_value = 5
some_value = some_value + 2
print(some_value)

7

In [11]:
some_value += 2
some_value

9

In [12]:
some_value -= 2
some_value

7

In [13]:
some_value *= 2
some_value

14

#### Strings

It's simple a piece of text
Can use either single quotes ' or double quotes ""

In [14]:
username = 'supercoder'
password = 'supersecret'

long_string = '''
W0W
0 0
---
'''
print(long_string)

W0W
0 0
---

In [15]:
first_name = input('please, type your first name ')
last_name = input('please, type your last name ')
full_name = first_name + ' ' + last_name
print('Hello ' + full_name)

please, type your first name juliio
please, type your last name efrain
Hello juliio efrain

Escape sequence
- \\' --> omitts the single quotes
- \\" --> omitts the double quotes
- \\\ --> omitts the backslash
- \t --> adds a tab to the string
- \n --> adds a enter to the string

In [16]:
#weather = 'it's sunny
weather_1 = "it's sunny"
#weather_2 = "it's "kind of" sunny"
weather_3 = "\t It\'s \"kind of\" sunny \n hope you have a good day!"
print(weather_3)

	 It's "kind of" sunny
 hope you have a good day!

Formatting strings

In [17]:
name = 'Johnny'
age = 55

print(f'hi {name}. You are {age} years old') #this is the best way to do it. Available at Python 3

print('hi {}. You are {} years old'.format(name, age))

hi Johnny. You are 55 years old
hi Johnny. You are 55 years old

String indexes

We can access to a part of a string by using strings. 

*string\[strart, end, step]*

In [18]:
selfish = 'me me me'
        #  01234567

print(selfish[0]) #first place of the string
print(selfish[0:8]) #[start:stop]
print(selfish[0:8:2]) #[start:stop:stepover]
print(selfish[::3]) #returns every third place of the string starting from the beginning
print(selfish[-1]) #returns last place of the string
print(selfish[::-1]) #reverse the order of the string

m
me me me
m em
mmm
e
em em em

Built-in Methods are actions that are performed and owned by each data types. Their availability depends on the data types. 

[Python String Methods](https://www.w3schools.com/python/python_ref_string.asp)

In [19]:
quote = 'to be or not to be'

print(quote.upper())
print(quote.lower())
print(quote.find('be')) #returns the first index of the string found. 
print(quote.replace('be', 'me')) #creates a new string, but it's not assigned to anything.
print(quote)

TO BE OR NOT TO BE
to be or not to be
3
to me or not to me
to be or not to be

#### Boolean

They are logic values that can be used to control our program. 

It can be either **True** or **False**

In [20]:
name = 'Julio'
is_cool = False #can be assigned to a variable.
is_coll = True #can replace the previous value assigned.

print(f'Number 1 will be treated as True \'bool(1)\': {bool(1)}, and 0 as False \'bool(0)\': {bool(0)}.')

Number 1 will be treated as True 'bool(1)': True, and 0 as False 'bool(0)': False.

Type Conversion

In [21]:
#data used for a profile
name = 'Julio'
age = 33
relationship_status = 'married'

*Age guessing program*

In [22]:
#library datetime allows us to deal with datetime objecst
from datetime import date 

current_year = date.today().year
#input returns a string, but we converted into integer int() to perform the current_age operation.
birth_year = int(input('what year were you born? ')) 
current_age = current_year - birth_year

print(f'you\'re {current_age} old.')

what year were you born? 1987
you're 35 old.

In [23]:
#different greetings based on age

if current_age <= 15:
    greeting = "Too young to be true!"
elif current_age <= 35:
    greeting = "You're in a good stage in life!"
else:
    greeting = "Watch out! You're getting old."

print(f'Your age is: {current_age} \n{greeting}')

Your age is: 35
You're in a good stage in life!

In [24]:
#password checker exercise

username = input('Please, write your username: ')
password = input('Please, write your password: ')

password_length = len(password)
password_hidden = '*' * password_length 

message = f'Hi, {username}, your password {password_hidden} is {password_length} characters long'

print(message)

Please, write your username: yoyo
Please, write your password: nothatsecret123
Hi, yoyo, your password *************** is 15 characters long

### Data Structure

DATA STRUCTURES MATRIX

        |------------------|--------------------|------------------|
        | Data Structure   | Literals           | Constructor      |
        |------------------|--------------------|------------------|
        | List             | [1,2,3]            | list((1, 2, 3))  |
        |------------------|--------------------|------------------|
        | Dictionary       | {'a': 1, 'b': 2}   | dict(a=1, b=2)   |
        |------------------|--------------------|------------------|
        | Tuple            | (1, 2, 3)          | tuple([1, 2, 3]) |
        |------------------|--------------------|------------------|
        | Set              | {1, 2, 3}          | set((1, 2, 3))   |
        |------------------|--------------------|------------------|

#### List

df: ordered sequence of objects of any type

In [25]:
li = [1, 2, 3, 4, 5]
li2 = ['a', 'b', 'c']
li3 = [1, 2, 5, 'a', True]

print(li, li2, li3, end='\n')

[1, 2, 3, 4, 5] ['a', 'b', 'c'] [1, 2, 5, 'a', True]

use range(n) built-in function to create a list of numbers.

In [26]:
# n = any number
li4 = list(range(9))
li4

[0, 1, 2, 3, 4, 5, 6, 7, 8]

slicing: start included but stop excluded... result = stop - start

In [27]:
amazon_cart = [
    'notebook',
    'sunglasses',
    'toys',
    'grapes'
]

amazon_cart[2:] #will return the items from the third place and on, cause it starts counting from 0

['toys', 'grapes']

can substitue an existing item with a new one by indicating the index of the existing item

In [28]:
amazon_cart[0] = 'laptop'
amazon_cart

['laptop', 'sunglasses', 'toys', 'grapes']

to copy a list is needed to create a new variable = list_to_copy\[:]

In [29]:
new_cart = amazon_cart[:]
new_cart[0] = 'gum'
new_cart

['gum', 'sunglasses', 'toys', 'grapes']

Matrix

df: way to describe a multidimensional list. 

nested_list\[[], [], []]

In [30]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

matrix1 = [
    [1, 0, 1],
    [0, 1, 0],
    [1, 0, 1]
]

print(matrix, end='\n\n')
print(matrix1)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

[[1, 0, 1], [0, 1, 0], [1, 0, 1]]

In [31]:
print(f'access frist array: matrix\[0] {matrix[0]}')
print(f'access second array: matrix\[1] {matrix[1]}')
print(f'access third array: matrix\[2] {matrix[2]}')
print(f'access first array, 3 item: matrix\[0][2] {matrix[0][2]}')
print(f'access second array, 2 item: matrix\[1][1] {matrix[1][1]}')
print(f'access second array, 1 item: matrix\[2][0] {matrix[2][0]}')

access frist array: matrix\[0] [1, 2, 3]
access second array: matrix\[1] [4, 5, 6]
access third array: matrix\[2] [7, 8, 9]
access first array, 3 item: matrix\[0][2] 3
access second array, 2 item: matrix\[1][1] 5
access second array, 1 item: matrix\[2][0] 7



[List Methods](https://www.w3schools.com/python/python_ref_list.asp)

In [32]:
basket = [1, 2, 3, 4, 5]
basket

[1, 2, 3, 4, 5]

ADDING

In [33]:
#adding one single item
basket.append(6)
print(f'basket.append\(6): {basket}')

#adding a item in a given place
basket.insert(0, 0)
print(f'basket.insert\(2.5, 2): {basket}')

#adding multiple items
basket.extend([7, 8, 9])
print(f'basket.extend\([7, 8, 9]): {basket}')

basket.append\(6): [1, 2, 3, 4, 5, 6]
basket.insert\(2.5, 2): [0, 1, 2, 3, 4, 5, 6]
basket.extend\([7, 8, 9]): [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

REMOVING

In [34]:
#removing the last item
basket.pop()
print(f'basket.pop\(): {basket}')

#removing by idex
new_basket = basket.pop(0)
print(f'basket.pop\(0): {basket}')
print(f'new_basket = basket.pop\(0): {new_basket}... .pop\() returns a value.')

#removing an given item
basket.remove(4)
print(f'basket.remove\(4): {basket}')
      
#clear a list
basket.clear()
print(f'basket.clear\(): {basket}')

basket.pop\(): [0, 1, 2, 3, 4, 5, 6, 7, 8]
basket.pop\(0): [1, 2, 3, 4, 5, 6, 7, 8]
new_basket = basket.pop\(0): 0... .pop\() returns a value.
basket.remove\(4): [1, 2, 3, 5, 6, 7, 8]
basket.clear\(): []

FINDING

In [35]:
letters = ['a', 'b', 'c', 'c', 'd', 'e' ]

#return the index of an item in the list
i = letters.index('e')
print(f'the index of \'e\' is: {i}')

#check if an item is in the list
j = 'd' in letters
print(f'is \'d\' in letters? {j}')
      
k = letters.count('c')
print(f'number of \'c\' in letters: {k}')

'''
# for binary search and insertion
import bisect 
use bisect.bisect(list, element) to find the location where an element should be inserted
use bisect.insort(list, element) to insert the element
'''

the index of 'e' is: 5
is 'd' in letters? True
number of 'c' in letters: 2

'\n# for binary search and insertion\nimport bisect \nuse bisect.bisect(list, element) to find the location where an element should be inserted\nuse bisect.insort(list, element) to insert the element\n'

SORTING OUT

In [36]:
#sort list inplace
newlist = ['a', 'z', 'b', 'y', 'c', 'x']
print(f'This is the original newlist: {newlist}')
newlist.sort()
print(f'By newlist.sort(), the list is sort in place. i.e.: {newlist}', end='\n\n')

#new sorted list
newlist2 = [7, 1, 2, 6, 0, 3, 2]
newlist3 = sorted(newlist2)
print(f'Sorted(newlis2t) will create a new sorted list... \nthis the newlist2 : {newlist2} \nand this is sorted(newlist2): {newlist3}.', end='\n\n')

#reverse iterates over the elements of a sequence in reverse order
ex1 = list(reversed(range(10)))
print(f'This a reversed list by using list(reversed(range(10))): {ex1}', end='\n\n')

#to sort out desc first use .sort() then .reverse()
newlist2.sort()
newlist2.reverse()
print(f'Here\'s the list sorted {newlist2} \nand here\'s the reversed list {newlist2}')

This is the original newlist: ['a', 'z', 'b', 'y', 'c', 'x']
By newlist.sort(), the list is sort in place. i.e.: ['a', 'b', 'c', 'x', 'y', 'z']

Sorted(newlis2t) will create a new sorted list...
this the newlist2 : [7, 1, 2, 6, 0, 3, 2]
and this is sorted(newlist2): [0, 1, 2, 2, 3, 6, 7].

This a reversed list by using list(reversed(range(10))): [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

Here's the list sorted [7, 6, 3, 2, 2, 1, 0]
and here's the reversed list [7, 6, 3, 2, 2, 1, 0]

Common List Pattern

In [37]:
#use range()
ex2 = list(range(20))
print(f'Creating a list using list(range(20)): \n{ex2}')

#length of a list
print(f'The length of ex2 is: {len(ex2)}', end='\n\n')

#reversed a list by slicing
ex3 = ex2[::-1]
print(f'By using slicing [::2], we create a new reversed list: \n{ex3}', end='\n\n')

#.join()
sentence = ['hi', 'my', 'name', 'is', 'Jojo']
new_sentence = ' '.join(sentence)
print(f'We join each of the words in the list \"sentence" {sentence} \nby using .join() in an empty string: {new_sentence}')

Creating a list using list(range(20)):
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
The length of ex2 is: 20

By using slicing [::2], we create a new reversed list:
[19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

We join each of the words in the list "sentence" ['hi', 'my', 'name', 'is', 'Jojo']
by using .join() in an empty string: hi my name is Jojo

List unpacking

In [38]:
a,b,c, *other, d = [1, 2, 3, 4, 5, 6, 7, 8, 9]

print(a)
print(b)
print(c)
print(other)
print(d)

1
2
3
[4, 5, 6, 7, 8]
9

#### List Comprehension

    [expresion + context]

```{python}
[x * 2 for x in range(3)]
```

In [56]:
#find top earners
employees = {
    'Alice':100000,
    'Bob':99817,
    'Carol':122908,
    'Frank':88123,
    'Eve':93121
}

print([(k,v) for k,v in employees.items() if v >= 100000])

[('Alice', 100000), ('Carol', 122908)]

In [57]:
#other example
print([(x, y) for x in range(3) for y in range(3)])

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

In [60]:
#other example
print([x ** 2 for x in range(10) if x % 2 > 0])

[1, 9, 25, 49, 81]

In [62]:
#other example
print([x.lower() for x in ['I', 'AM', 'NOT', 'SHOUTING']])

['i', 'am', 'not', 'shouting']

*Given a multiline string, create a list of a lists: each consiting of all the words in a line that have more that three characters.*

In [64]:
#Data
text = '''Call me Ishmael. Some year ago - never mind how long precisely - having
little or no money in my purse, and nothing particular to interest me
on shore, I thought I would sail about a little and see the watery part
of the world. It is a way I have of driving off the spleen, and regulating
the circulation. - Moby Dick'''

#One-liner
w = [[x for x in line.split() if len(x) >3] for line in text.split('\n')]

#Result
print(w)

[['Call', 'Ishmael.', 'Some', 'year', 'never', 'mind', 'long', 'precisely', 'having'], ['little', 'money', 'purse,', 'nothing', 'particular', 'interest'], ['shore,', 'thought', 'would', 'sail', 'about', 'little', 'watery', 'part'], ['world.', 'have', 'driving', 'spleen,', 'regulating'], ['circulation.', 'Moby', 'Dick']]

In [68]:
#another example
print([line.strip() for line in open(r"C:\PythonFundamentos\zero-to-mastery\Py_Programs\readFiles.py")])

['filename = r"readFiles.py" #this code', '', 'f = open(filename)', 'lines = []', 'for line in f:', 'lines.append(line.strip())', '', 'print(lines)']

*Given a list of strings, our next one-liner creates a new list of tuples, each consisting of a Boolean value and the original string. The boolean value will apply according to a condition*

In [71]:
#Data
txt = ['lambda function are anonymous functions.',
      'anonymous functions dont have a name.',
      'functions are objects in Python.']

#One-Liner
mark = map(lambda s: (True, s) if 'anonymous' in s else (False, s), txt)

#Result
print(list(mark))

[(True, 'lambda function are anonymous functions.'), (True, 'anonymous functions dont have a name.'), (False, 'functions are objects in Python.')]

In [73]:
#one-liner to substitute the map()
print([(True, x) if 'anonymous' in x else (False, x) for x in txt])

[(True, 'lambda function are anonymous functions.'), (True, 'anonymous functions dont have a name.'), (False, 'functions are objects in Python.')]

#### None

As the name suggestes it retrives nothing

In [39]:
a = None
print(f'a = None would output: {a}')
print('In this example a = None, we are creating a placeholder for a variable a that can be updated later on.')

a = None would output: None
In this example a = None, we are creating a placeholder for a variable a that can be updated later on.

#### Dictionary

df: is a data type in Python, but also a data structure. 

In other words is an unordered key-value pair (they are not next each other in memory).

In [40]:
dictionary = {
    'a': 1, #a is the key and 1 the value
    'b': 2
}

print(dictionary['a'])
print(dictionary['b'])

1
2

In [41]:
dictionary2 = {
    'a': [1, 2, 3], #a is the key and 1 the value
    'b': 'hello',
    'x': True
}

print(f"I pass the key dictionary2[\'a\'] to get the value: {dictionary2['a']}. \nWhich is a type {type(dictionary2['a'])}", end='\n\n')
print(f"I pass the key dictionary2[\'b\'] to get the value: {dictionary2['b']}. \nWhich is a type {type(dictionary2['b'])}", end='\n\n')
print(f"I pass the key dictionary2[\'x\'] to get the value: {dictionary2['x']}. \nWhich is a type {type(dictionary2['x'])}")

I pass the key dictionary2['a'] to get the value: [1, 2, 3].
Which is a type <class 'list'>

I pass the key dictionary2['b'] to get the value: hello.
Which is a type <class 'str'>

I pass the key dictionary2['x'] to get the value: True.
Which is a type <class 'bool'>

A **List** can store a **Dictionary** data structure, and we can access by passing the key.

In [42]:
MyListwithDict = [
    {'a': [1, 2, 3],
     'b': 'hello',
     'x': True
    },
    {
     'a': [4, 5, 6],
     'b': 'bye',
     'x': False  
    }
    
]

print(f"When passing MyListwithDict[0]['a'][2], I'll get value: {MyListwithDict[0]['a'][2]}. \nWhich is third value of the first key in the first item of the list", end='\n\n')
print(f"When passing MyListwithDict[1]['b'][1], I'll get value: {MyListwithDict[1]['b'][1]}. \nWhich is second value of the second key in the second item of the list", end='\n\n')

When passing MyListwithDict[0]['a'][2], I'll get value: 3.
Which is third value of the first key in the first item of the list

When passing MyListwithDict[1]['b'][1], I'll get value: y.
Which is second value of the second key in the second item of the list

A **key** has to be **ummutable**... so a list can be passed as a key

A **key** also has to be **unique** or ir will be overwritten

[Dictionary methods](https://www.w3schools.com/python/python_ref_dictionary.asp)

In [43]:
#.get() to check if a key exists, and pass a default value in case doesn't exist.

user = {
    'first_name': 'john',
    'last_name': 'deer',
}

user2 = {
    'first_name': 'john',
    'last_name': 'deer',
    'age': 20
    
}

print(f"By passsing user.get('age') we check if it exists: {user.get('age')}.", end='\n\n')
print(f"By passsing user.get('age', 55) we check if it exists. If not, then we set a default value of : {user.get('age', 55)}.", end='\n\n')
print(f"By passsing user2.get('age', 55) will get 20 instead of 55, because the key 'age' exists: {user2.get('age', 55)}.")

By passsing user.get('age') we check if it exists: None.

By passsing user.get('age', 55) we check if it exists. If not, then we set a default value of : 55.

By passsing user2.get('age', 55) will get 20 instead of 55, because the key 'age' exists: 20.

In [44]:
#check if a key exist using "in"
print('first_name' in user)
print('age' in user)

True
False

In [45]:
#check for a key with ".keys()"
print('last_name' in user.keys())
print('age' in user2.keys())

True
True

In [46]:
#check for a value with ".values()"
print('deer' in user.values())
print(20 in user2.values())

True
True

In [47]:
#check the key-value pairs
print(user.items())
print(user2.items())

dict_items([('first_name', 'john'), ('last_name', 'deer')])
dict_items([('first_name', 'john'), ('last_name', 'deer'), ('age', 20)])

In [48]:
#clear a dictionary
user.clear()
print(user)

{}

In [49]:
#copy a dictionary with .copy()
user = user2.copy()
user2.clear()
print(user)
print(user2)

{'first_name': 'john', 'last_name': 'deer', 'age': 20}
{}

In [50]:
#remove the last key-value pair with ".popitem()"
user3 = user.copy()
print(user3)

user3.popitem()
print(user3)

{'first_name': 'john', 'last_name': 'deer', 'age': 20}
{'first_name': 'john', 'last_name': 'deer'}

In [51]:
#update a key-value pair with ".update()"
print(f'This is the dictionary before update: {user}', end='\n\n')

user.update({'age': 55})
print(f'And this is the dictionary after update: {user}')

This is the dictionary before update: {'first_name': 'john', 'last_name': 'deer', 'age': 20}

And this is the dictionary after update: {'first_name': 'john', 'last_name': 'deer', 'age': 55}

Create a dictionary from a sequences

In [52]:
#key and value lists to map
key_list = ['x', 'y', 'z']
value_list = [2, 4, 8]

mapping = {} #create an empty dict

#iterate over key and values lists.
for key, value in zip(key_list, value_list):
    mapping[key] = value

print(mapping)

{'x': 2, 'y': 4, 'z': 8}

In [53]:
#using range() and reversed(range())
mapping2 = dict(zip(range(5), reversed(range(5))))
print(f'Here\'s a new dict by using zip(): {mapping2}', end='\n\n')
print(f'The first argument of zip() is for keys {mapping2.keys()}, \nand the second argument is for values {mapping2.values()}')

Here's a new dict by using zip(): {0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

The first argument of zip() is for keys dict_keys([0, 1, 2, 3, 4]),
and the second argument is for values dict_values([4, 3, 2, 1, 0])

For additional note go to Python Overview under [Dictionary section](file:///C:/PythonFundamentos/dev-hacks/python%20overview.txt)

#### Tuples

It's a ummutable data structure that uses parenthesis "( )".

Used for data structures that don't need to change. i.e.: (latitude + longitude), (weekdays), (months)

[Tuples methods](https://www.w3schools.com/python/python_ref_tuple.asp)

In [14]:
my_tuple = (1, 2, 3, 4, 5, 5)
print(my_tuple)

(1, 2, 3, 4, 5, 5)

In [2]:
new_tuple = my_tuple[1:3]
print(new_tuple)

(2, 3)

In [15]:
#unpacking as in lists
x1, y1, z1, *other = my_tuple
print(f'x1 is: {x1}')
print(f'y1 is: {y1}')
print(f'z1 is: {z1}')
print(f'other is: {other}')

x1 is: 1
y1 is: 2
z1 is: 3
other is: [4, 5, 5]

In [17]:
#few methods
print(f'There are {my_tuple.count(5)} number five in my_typle')
print(f'The index of number 3 in my_tuple is: {my_tuple.index(3)}')
print(f'The length of my_tuple is: {len(my_tuple)} elements')

There are 2 number five in my_typle
The index of number 3 in my_tuple is: 2
The length of my_tuple is: 6 elements

#### Sets

df: set is an unordered collection of unique objects. 

[Sets methods](https://www.w3schools.com/python/python_ref_set.asp)

In [19]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [20]:
my_set_unique = {1, 2, 3, 4, 5, 5}
print(my_set_unique)

{1, 2, 3, 4, 5}

In [21]:
#add
my_set.add(100)
print(my_set)

my_set.add(2)
print(my_set)

{1, 2, 3, 4, 5, 100}
{1, 2, 3, 4, 5, 100}

We can convert a list to a set to remove duplicates

In [22]:
list1 = ['yo', 'yo', 'hello', '!']
print(f'This is my list: {list1}')

print(f'Now this is a list converted to a set: {set(list1)}')

This is my list: ['yo', 'yo', 'hello', '!']
Now this is a list converted to a set: {'yo', '!', 'hello'}

In [24]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8, 9, 10}

print('use .difference() to check different objects in two sets')
print(f'the difference of set1 and set2 is: {set1.difference(set2)}')

use .difference() to check different objects in two sets
the difference of set1 and set2 is: {1, 2, 3}

In [25]:
#remove an object
set1.discard(4)
print(f'This is set1 after set1.discard(4): {set1}')

This is set1 after set1.discard(4): {1, 2, 3, 5}

In [26]:
#remove objects from set based on another set
set1.difference_update(set2)
print(f'This is the set1 after set1.difference_update(set2): {set1}')

This is the set1 after set1.difference_update(set2): {1, 2, 3}

In [34]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8, 9, 10}

print(f'set1 and set2 instersection is: {set1.intersection(set2)}')
print(f'Or you can use "&": set1 & set2 {set1 & set2}')

set1 and set2 instersection is: {4, 5}
Or you can use "&": set1 & set2 {4, 5}

In [30]:
#check is there is nothing in common
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}
print(f'set1 disjoints set2? {set1.isdisjoint(set2)}')

set1 disjoints set2?: True

In [33]:
#union sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8, 9, 10}

print(f'Use .union() to get a new set of set1 and set2: {set1.union(set2)}')
print(f'Or you can use "|" : set1 | set 2 {set1 | set2}')

Use .union() to get a new set of set1 and set2: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Or you can use "|" : set1 | set 2 {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [35]:
#check if a set contains or belongs to another set
set3 = {'a', 'b'}
set4 = {'a', 'b', 'c', 'd', 'e'}

print(f'Is set3 a subset of set4? {set3.issubset(set4)}')
print(f'Is set4 a subset of set3? {set4.issubset(set3)}')
print(f'Is set3 a superset of set4? {set3.issuperset(set4)}')
print(f'Is set4 a superset of set3? {set4.issuperset(set3)}')

Is set3 a subset of set4? True
Is set4 a subset of set3? False
Is set3 a superset of set4? False
Is set4 a superset of set3? True